/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(216, 231, 255) 100%);
  }

 .fullpage {
    margin-top: 5em;
    font-family: monospace; 

 }
 .ideapage {
    margin-top: 5em;
    
}

.idea_home {
    margin-top: 2em;
}

.idea_submit_button {
    margin-top: 1em;
}

.logo {
    position: absolute;
    top: 2em; 
    right: 5em;
    width: 10em;
}

.nav_buttons {
    margin: 0.8em;
}

.comment_name {
    margin: 0px;
    font-size: 0.8em;  
}

.comment {
    padding-left: 1em;
}

.delete {
    font-size: 0.7em;
    margin: 0px;
}

.btn_green {
    background-color: rgb(116, 231, 160);
}

.btn_red {
    background-color: rgb(236, 150, 150);
}
.btn_yellow {
    background-color: rgb(233, 238, 167);
}

.submit_form > div {
    margin-bottom: 0.7em;
}